*{
	margin:0;
	padding:0;
	font-family: Century Gothic;
}
.button{
	padding:45px;
	background-color: 000033;
	background-image: url(../1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center:
}
.btn{
	font-size: 20px;
	font-style: italic;
	float: right;
	padding: 5px 30px;
	
	color:black;
	transition: :0.6s ease;
}
.btn:hover{
background-color: white;
color:#000;
}
.search-box{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,50%);
	height:40px;
	background-color: 
}
.wrap{
	position: absolute;
	width:15%;
	top: 28%;
	left: 45%;
	transform: translate(-50%,50%);
}
.search{
	width: 100%;
	position:relative;
}
.searchterm{
	float:left;
	width: 200%;
	border: 3px solid #00B4CC;
	padding: 11px;
	font-size: 17px;
	outline: none;
}
.searchbtn{
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid #00B4CC;
	background-color: #00B4CC;
	text-align: center;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
#c{
	background-color: #141515;
	padding: 5px 20px;
	color:white;
	width:96s%;
	cursor: pointer;

}
.end{
	background-color: #292626;
	color: white;
	cursor: pointer;

}
#gallery{
	height: 1216px;
}
.g{
	text-align: center;
	font-size: 25px;
}
.container{
	max-width: :1200px;
	margin: auto;
	background-color:pink;
	overflow:auto;
}
.gal
{
	margin: 5px;
	border:1px solid #ccc;
	float:left;
	width: 390px;
	cursor: pointer;
}
.gal img{
	width:100%;
	height:300px;
	cursor: pointer;
}
.desc{
	padding: 15px;
	text-align: center;
	cursor: pointer;
}
.sellers{
	height: 600px;
	background-color: pink;
}
.heading{
	font-size: 35px;
	color:black;
	margin-top: 10%;
	margin-left: 5%;
}
.para{
	color:white;
	margin-left: 5%;
	margin-top: 5%;
	font-size: 25px;
}
.bn{
	margin-top:2%;
	margin-left:5%;
}
.bnn{
	text-decoration: none;
	color:black;
	padding: 10px 20px;
	border-radius: 27px;
	background-color: pink;
	cursor: pointer;
}
.p1{
	text-align: center;
	font-size: 30px;
	margin-top: 4%;
}
.p2
{
	margin-top:3%;
	margin-left: 5%;
	font-size:20px;
	padding: 5px 20px;
}
